---
import Slider from "../components/Slider.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<Slider />
		</main>
	</body>
</html>

<style>
body{
    /* margin: 0; */
    background-color: #e5e5e5;
	margin-top: 100px;
}
main{
    width: min(1300px, 95vw);
    margin: auto;
}
</style>